<app-top-bar [pageTitle]="'ACCOUNT' | translate" ></app-top-bar>
<div class="container">
    <form class="colored-card" #profileForm="ngForm">
        <img id="pin" src="./assets/push_pin.png" draggable="false" />
        <div class="row profile-row">
            <div class="col avatar-col">
                <app-avatar [imagePath]="avatar" outlineColor="black" class="avatar"></app-avatar>
                <div class="col">
                    <h4 class="avatar-title">{{ 'CHOOSE_AVATAR' | translate }}:</h4>
                    <div class="account-image-container">
                        <a (click)="chooseAvatar('avatar_placeholder')" class="avatar-choice">
                            <img class="predefined-avatar" src="assets/avatar-default.jpeg" alt="" />
                        </a>
                        <div class="predefined-images-container">
                            <a *ngFor="let image of carouselImages" (click)="chooseAvatar(image)" class="avatar-choice">
                                <img class="predefined-avatar" [src]="image" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <input type="file" accept="image/*" name="" id="image-input" #imageInput (change)="updateImageUrl()" />
                <button (click)="clickOnImageInput()" class="upload">
                    <div class="row">
                        <mat-icon aria-hidden="false" fontIcon="add_photo_alternate"></mat-icon>
                        {{ 'UPLOAD_IMAGE' | translate }}
                    </div>
                </button>
            </div>
            <div class="col text-col">
                <fieldset>
                    <legend>
                        <h3>{{ 'NAME' | translate }}</h3>
                    </legend>
                    <div class="row">
                        <input class="username-input" minlength="3" type="text" name="username" id="" [(ngModel)]="username" />
                    </div>
                    <p class="username-constraints">
                        <mat-icon aria-hidden="false" fontIcon="info"></mat-icon>{{ 'USERNAME_CONSTRAINTS' | translate }}
                    </p>
                </fieldset>
                <fieldset>
                    <legend>
                        <h3>{{ 'ABOUT' | translate }}</h3>
                    </legend>
                    <div class="col">
                        <textarea
                            placeholder="{{ 'ABOUT_PLACEHOLDER' | translate }}"
                            rows="10"
                            cols="60"
                            class="biography"
                            maxlength="500"
                            [(ngModel)]="biography"
                            name="bio"
                        ></textarea>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row buttons-row">
            <button class="big-button cancel" routerLink="/account">{{ 'CANCEL' | translate }}</button>
            <button class="big-button save" (click)="onSubmit()" [disabled]="!profileForm.form.valid">{{ 'SAVE_PROFILE' | translate }}</button>
        </div>
    </form>
</div>
<div class="error-message" [ngClass]="{ 'visible-error': errorMessage }">
    {{ errorMessage | translate }}
</div>

<app-channel-toggle></app-channel-toggle>
