<div class="chatbox">
    <div class="chatbox__messages">
        <div *ngFor="let message of chatService.messages" class="message-original-color">
            <div *ngIf="!message.isMessageText" class="message__event">{{ message.text }}</div>
            <div *ngIf="message.isMessageText">
                <div *ngIf="message.messageReceived" class="message__received">{{ message.text }}</div>
                <div *ngIf="!message.messageReceived" class="message__text">{{ message.text }}</div>
            </div>

            <div class="message__time">{{ message.time }}</div>
        </div>
    </div>

    <div style="display: contents">
        <input
            class="chatbox__input"
            placeholder="{{ 'ENTER_YOUR_MESSAGE' | translate }}"
            type="text"
            id="message-input"
            (keydown.enter)="chatService.onKeyDown($event)"
            [(ngModel)]="chatService.inputValue"
            (focus)="chatService.onFocus()"
            (focusout)="chatService.onFocusOut()"
            maxlength="200"
        />
    </div>
</div>
