<div class="reset-password-container">
    <div class="reset-password-form-container">
        <div class="reset-password-top-container">
            <img src="./assets/push_pin.png" alt="" class="reset-password-pin" />
            <div class="reset-password-text-title">Reset Password</div>
        </div>
        <div class="reset-password-sub-title" *ngIf="!isValidEmail">Verify Email</div>
        <form class="reset-password-form" *ngIf="!isValidEmail" (ngSubmit)="onSubmitEmail()" #VerifyEmailForm="ngForm">
            <input
                type="email"
                name="email"
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                class="reset-password-email"
                #emailCheck="ngModel"
                [(ngModel)]="email"
                required
            />
            <!-- <div *ngIf="password !== confirmPassword" style="color: red;">Passwords do not match</div> -->
            <button mat-raised-button class="reset-password-button" [disabled]="!VerifyEmailForm.valid">Verify Email</button>
        </form>
        <div class="reset-password-sub-title" *ngIf="isValidEmail && !isValidCode">Verify Code</div>
        <form class="reset-password-form" *ngIf="isValidEmail && !isValidCode" (ngSubmit)="onSubmitCode()" #ValidCodeForm="ngForm">
            <input
                type="text"
                name="text"
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                class="reset-password-email"
                #emailCheck="ngModel"
                [(ngModel)]="code"
                required
            />
            <div *ngIf="isValidCodeWarning" style="color: red">Invalid Code</div>
            <button mat-raised-button class="reset-password-button" *ngIf="isValidEmail" [disabled]="codeInput.value">Verify Code</button>
        </form>
        <div class="reset-password-sub-title" *ngIf="isValidEmail && isValidCode">Reset Password</div>
        <form class="reset-password-form" *ngIf="isValidEmail && isValidCode" (ngSubmit)="onSubmitPassword()" #resetPasswordForm="ngForm">
            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                class="reset-password-email"
                [(ngModel)]="password"
                #passwordInput="ngModel"
                required
            />
            <div class="reset-password-sub-title-twice">Re-enter your password</div>
            <input
                type="password"
                name="confirmPassword"
                placeholder="Re-enter your password"
                class="reset-password-email"
                [(ngModel)]="confirmPassword"
                #confirmPasswordInput="ngModel"
                required
            />
            <div *ngIf="passwordNotMatch" style="color: red">{{ errorMessage | translate }}</div>
            <button
                mat-raised-button
                (click)="onSubmitPassword()"
                class="reset-password-valid-button"
                *ngIf="isValidEmail && isValidCode"
                [disabled]="!resetPasswordForm.valid"
            >
                Reset Password
            </button>
        </form>
        <div class="reset-password-return">
            <a class="reset-password-account" routerLink="/login">return to login page</a>
        </div>
    </div>
</div>
