.search {
    overflow: hidden;
    font-weight: 400;
    width: 95%;
    height: 27px;
    padding-left: 10px;
    padding-bottom: 0;
    border-radius: 5px;
    resize: none;
    background-color: hsla(136, 100%, 50%, 0.05);
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 5%;
    align-items: center;
}

.go-back {
    height: 41px;
    width: 41px;
    background-image: url('./../../../../assets/return.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.1s;
}

.go-back:hover {
    transition: background-size 0.1s;
    background-size: 90%;
}

.gifs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
    height: 94.4%;
    scrollbar-width: thin;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.gif {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.gif img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    cursor: pointer;
    object-fit: contain;
}

.search-bar {
    cursor: pointer;
    overflow: hidden;
    font-weight: 400;
    height: 50%;
    width: 75%;
    padding-left: 10px;
    border-radius: 5px;
    resize: none;
    background-color: hsla(136, 100%, 50%, 0.05);
}

.search-bar:focus {
    background-color: hsla(136, 100%, 50%, 0.15);
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 5%;
    width: 100%;
}
