<h3>Choisir un mode de jeu</h3>
<div class="row buttons">
    <app-paper-button name="Annuler" (click)="closeDialog()"></app-paper-button>
    <div class="row">
        <app-paper-button name="Coopératif" (click)="playCoop()"></app-paper-button>
        <app-paper-button name="Solo" (click)="playSolo()"></app-paper-button>
    </div>
</div>
<img class="green-push-pin top left" src="./assets/green_pin.png" draggable="false" />
<img class="green-push-pin top right" src="./assets/green_pin.png" draggable="false" />
<img class="green-push-pin bottom left" src="./assets/green_pin.png" draggable="false" />
<img class="green-push-pin bottom right" src="./assets/green_pin.png" draggable="false" />
