<div class="row">
    <h3>Veuillez entrer un nom d'utilisateur :</h3>
    <input #userInput id="userInput" type="text" value="" (input)="onChange(userInput.value)" maxlength="10" />
</div>
<div class="row buttons">
    <app-paper-button id="cancel" name="Annuler" (click)="closeDialog(undefined)"></app-paper-button>
    <app-paper-button id="confirm" name="Confirmer" (click)="closeDialog(userInput.value)"></app-paper-button>
</div>
<img class="green-push-pin top left" src="./assets/green_pin.png" draggable="false" />
<img class="green-push-pin top right" src="./assets/green_pin.png" draggable="false" />
<img class="green-push-pin bottom left" src="./assets/green_pin.png" draggable="false" />
<img class="green-push-pin bottom right" src="./assets/green_pin.png" draggable="false" />
