:host {
    display: block;
    background-image: url('../../../../assets/paper.jpg');
    padding: 10px 60px;
    height: fit-content;
    width: fit-content;
    background-size: cover;
    background-attachment: local;
    background-position: 50%;
    position: relative;
    box-sizing: border-box;
    margin: 0 35px;
}

h2 {
    text-align: center;
}

.tape {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: rgba($color: #aaa, $alpha: 0.5);
}

.tape-right {
    transform: translate(40%, -25%) rotate(45deg);
    right: 0;
}

.tape-left {
    transform: translate(-40%, -25%) rotate(-45deg);
    left: 0;
}
